button
{
    display: block;
    margin: 10px auto;
}

div
{
    width: 30px;
    height: 30px;
    background-color: rgb(53, 79, 87);
    margin: 5px;
    float: left;
    color: white;
    text-align: center;
    line-height: 30px;
    border: 2px solid rgb(28, 38, 41);
}

.circle
{
    border-radius: 50%;
    background-color: rgb(116, 185, 205);
    color: black;
    border: 2px solid rgb(53, 79, 87);
}